#' {!{name} }
#'
#' {!{str_replace_all(description, "\n", "\n#' ")}}
#'
#' @description
#' {!{str_replace_all(extended, "\n", "\n#' ")}}
#' @format {!{format} }:
#' \describe{{
{describe:#'	\item{{`{n1}`}}{{`{n2}` {str_replace_all(n3, "\n", "\n#'\t")}}}}
#' }}<?
#' @source {!{paste(source, collapse = "\n#' ")}}?>
#'<?
#' @references {!{paste(references, collapse = "\n#' ")}}?>
"{.}"

